openapi: "3.0.0"
info:
    title: Bento API v1
    version: "2026-08-22"
    description: |
        Public HTTP API for Bento.

        Base URL: https://app.bentonow.com/api/v1/

        Authenticate with HTTP Basic. Use your publishable key as the username and your secret key as the password.

        Send a real User-Agent. Cloudflare may return HTML or 403 for missing or generic clients.

        Fetch, batch, stats, delivery, chat, and data deletion endpoints also require `site_uuid`. Experimental utility endpoints do not.

        Stats endpoints are limited to 30 requests per hour per IP. Call them from server-side code.

        Guides and examples: https://docs.bentonow.com/
servers:
    - url: "https://app.bentonow.com"
      description: Production
    - url: "http://app.devbento.localhost/"
      description: Development
tags:
    - name: subscribers
      description: Create, import, look up, and update subscribers.
      x-displayName: Subscribers
    - name: events
      description: Track events for subscribers.
      x-displayName: Events
    - name: emails
      description: Send emails and read email templates.
      x-displayName: Emails
    - name: tags
      description: Create, list, and discard tags.
      x-displayName: Tags
    - name: fields
      description: Create and list custom subscriber fields.
      x-displayName: Fields
    - name: broadcasts
      description: Create and list broadcasts.
      x-displayName: Broadcasts
    - name: segments
      description: List saved segments and check whether an email matches one.
      x-displayName: Segments
    - name: sequences
      description: List sequences and add sequence emails.
      x-displayName: Sequences
    - name: workflows
      description: List workflows. Read-only.
      x-displayName: Workflows
    - name: chat
      description: List conversations, send replies, and update conversation status.
      x-displayName: Chat
    - name: delivery
      description: Inspect transactional delivery reports and recipient events. Requires Transactional Platform.
      x-displayName: Delivery
    - name: experimental
      description: Utility endpoints for validation, moderation, and reputation checks.
      x-displayName: Experimental API
    - name: stats
      description: Site, segment, report, and ads statistics. Limited to 30 requests per hour per IP. Call from server-side code only.
      x-displayName: Stats
paths:
    /api/v1/batch/subscribers:
        post:
            security:
                - BasicAuth: []
            tags:
                - subscribers
            summary: Import subscribers
            description: |
                Queue 1 to 1000 subscribers for import or update.

                Each item must include `email`. Other keys are stored as profile fields. Known keys include `first_name`, `last_name`, `tags`, `remove_tags`, `utm_*`, `created_at`, `lifetime_value_currency`, and `lifetime_value_amount` (cents).

                This import does not trigger automations. Use POST /api/v1/fetch/subscribers when you want a create that can start workflows.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - subscribers
                            properties:
                                subscribers:
                                    type: array
                                    minItems: 1
                                    maxItems: 1000
                                    items:
                                        type: object
                                        required:
                                            - email
                                        additionalProperties: true
                                        properties:
                                            email:
                                                type: string
                                                description: Subscriber email address.
                                                example: "john.doe@example.com"
                                            first_name:
                                                type: string
                                            last_name:
                                                type: string
                                            tags:
                                                type: string
                                                description: Comma-separated tags to add.
                                            remove_tags:
                                                type: string
                                                description: Comma-separated tags to remove.
                                            utm_source:
                                                type: string
                                            utm_medium:
                                                type: string
                                            utm_campaign:
                                                type: string
                                            utm_content:
                                                type: string
                                            utm_term:
                                                type: string
                                            created_at:
                                                type: string
                                                format: date-time
                                                description: ISO 8601 timestamp used to backfill the subscriber creation date.
                                            lifetime_value_currency:
                                                type: string
                                            lifetime_value_amount:
                                                type: number
                                                description: Lifetime value in cents.
            responses:
                "200":
                    description: Subscribers queued for import.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    results:
                                        type: integer
                                        description: Number of subscriber records queued.
                                    failed:
                                        type: integer
                                        description: Number of subscriber records rejected.
                "400":
                    description: Missing subscribers, not an array, more than 1000 items, or a row without email.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/batch/emails:
        post:
            tags:
                - emails
            security:
                - BasicAuth: []
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            summary: Send emails
            description: |
                Queue up to 60 emails.

                `from` must be an author on the site. The team must be approved to send. Attachments are rejected.

                Call this from server-side code only.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - emails
                            properties:
                                emails:
                                    type: array
                                    minItems: 1
                                    maxItems: 60
                                    items:
                                        type: object
                                        required:
                                            - to
                                            - from
                                            - subject
                                        properties:
                                            to:
                                                type: string
                                                description: Recipient email address.
                                            from:
                                                type: string
                                                description: Sender email. Must match an author on the site.
                                            subject:
                                                type: string
                                            html_body:
                                                type: string
                                            text_body:
                                                type: string
                                            cc:
                                                type: string
                                            layout_id:
                                                type: string
                                            reply_to:
                                                type: string
                                            transactional:
                                                type: boolean
                                                description: Send even if the recipient is unsubscribed.
                                            personalizations:
                                                type: object
                                                additionalProperties: true
                                                description: Values injected into Liquid placeholders.
            responses:
                "200":
                    description: Emails queued.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    results:
                                        type: integer
                                        description: Number of emails accepted.
                                    failed:
                                        type: integer
                                        description: Number of emails rejected.
                "400":
                    description: Attachments present, blank or invalid addresses, or invalid Liquid.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "403":
                    description: Team is not approved to send, or the from address is not an author.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/batch/events:
        post:
            tags:
                - events
            security:
                - BasicAuth: []
            summary: Create events
            description: |
                Queue 1 to 1000 events. Each event needs `email` and `type`.

                If `details.value` is present, it must include `amount` and `currency`. `date` must be an ISO 8601 timestamp.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - events
                            properties:
                                events:
                                    type: array
                                    minItems: 1
                                    maxItems: 1000
                                    items:
                                        type: object
                                        required:
                                            - email
                                            - type
                                        properties:
                                            type:
                                                type: string
                                                description: Event name.
                                            email:
                                                type: string
                                                description: Subscriber email address.
                                            fields:
                                                type: object
                                                additionalProperties: true
                                                description: Profile fields to update.
                                            details:
                                                type: object
                                                additionalProperties: true
                                                description: Event context. If `value` is present, include `amount` and `currency`.
                                                properties:
                                                    value:
                                                        type: object
                                                        required:
                                                            - amount
                                                            - currency
                                                        properties:
                                                            amount:
                                                                type: number
                                                            currency:
                                                                type: string
                                            date:
                                                type: string
                                                format: date-time
                                                description: ISO 8601 timestamp for when the event happened.
            responses:
                "200":
                    description: Events queued.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BatchEventResponse"
                "400":
                    description: Missing events, not an array, more than 1000 items, or a row without email.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "422":
                    description: Every event in the batch was rejected.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BatchEventResponse"

    /api/v1/batch/broadcasts:
        post:
            tags:
                - broadcasts
            security:
                - BasicAuth: []
            summary: Create broadcasts
            description: |
                Create up to 15 broadcasts.

                The team must be approved to send. `from.email` must be an author when present. `batch_size_per_hour` must be between 10 and 250000. `send_at` is required when `approved` is true.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - broadcasts
                            properties:
                                broadcasts:
                                    type: array
                                    minItems: 1
                                    maxItems: 15
                                    items:
                                        type: object
                                        properties:
                                            name:
                                                type: string
                                            subject:
                                                type: string
                                            content:
                                                type: string
                                                description: Email body. Used for `plain` and `raw`.
                                            type:
                                                type: string
                                                enum: ["plain", "raw", "layout"]
                                                description: "`plain` uses Bento CSS. `raw` uses your HTML. `layout` copies a layout by `layout_id`."
                                            layout_id:
                                                type: string
                                                description: Layout to copy when `type` is `layout`.
                                            from:
                                                type: object
                                                properties:
                                                    email:
                                                        type: string
                                                        description: Author email on the site.
                                                    name:
                                                        type: string
                                            inclusive_tags:
                                                type: string
                                                description: Comma-separated tags. Recipients need at least one.
                                            exclusive_tags:
                                                type: string
                                                description: Comma-separated tags. Recipients with any of these are excluded.
                                            segment_id:
                                                type: string
                                                description: Segment whose query becomes the broadcast audience.
                                            batch_size_per_hour:
                                                type: integer
                                                minimum: 10
                                                maximum: 250000
                                            inbox_snippet:
                                                type: string
                                                description: Preview text. Also accepted as `preview_text`, `preview`, `preheader`, `preheader_text`, or `preview_snippet`.
                                            send_at:
                                                type: string
                                                format: date-time
                                            approved:
                                                type: boolean
                                                description: Approve the broadcast when `send_at` is set.
            responses:
                "200":
                    description: Broadcasts created.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    results:
                                        type: integer
                                        description: Number of broadcasts created.
                                    broadcasts:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                id:
                                                    type: integer
                                                template_id:
                                                    type: integer
                                                name:
                                                    type: string
                                                dashboard_url:
                                                    type: string
                                    failed:
                                        type: integer
                                    failures:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                index:
                                                    type: integer
                                                name:
                                                    type: string
                                                error:
                                                    type: string
                "400":
                    description: No broadcasts, not an array, or more than 15 items.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "403":
                    description: Team is not approved to send broadcasts.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "429":
                    description: Daily broadcast limit reached.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/fetch/broadcasts:
        get:
            tags:
                - broadcasts
            security:
                - BasicAuth: []
            summary: List broadcasts
            description: |
                Returns 10 broadcasts per page.

                `status` defaults to `sent`. Drafts return `template.template_id` only. Sent broadcasts include subject, to, html, and template_id.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: page
                  in: query
                  description: Result page. Defaults to 1.
                  schema:
                      type: integer
                - name: status
                  in: query
                  description: "`sent` (default), `draft`, `sending`, `scheduled`, `paused`, or `canceled`. `cancelled` and `drafted` are accepted aliases."
                  schema:
                      type: string
                      enum: ["sent", "draft", "sending", "scheduled", "paused", "canceled"]
            responses:
                "200":
                    description: Broadcast page.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/Broadcast"

    /api/v1/fetch/fields:
        get:
            tags:
                - fields
            security:
                - BasicAuth: []
            summary: List fields
            description: Returns custom field definitions for the site.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            responses:
                "200":
                    description: Field list.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/Field"
        post:
            tags:
                - fields
            security:
                - BasicAuth: []
            summary: Create field
            description: Creates a custom field from `field.key`. Spaces in the key become underscores.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - field
                            properties:
                                field:
                                    type: object
                                    required:
                                        - key
                                    properties:
                                        key:
                                            type: string
                                            example: "loyalty_points"
            responses:
                "201":
                    description: Field created.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: "#/components/schemas/Field"
                "422":
                    description: "`field.key` is missing."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/fetch/search:
        get:
            security:
                - BasicAuth: []
            tags:
                - subscribers
            summary: Search subscribers
            description: |
                Search subscribers. Enterprise only.

                Returns 100 subscribers per page.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: page
                  in: query
                  description: Result page. Defaults to 1.
                  schema:
                      type: integer
                - name: tags
                  in: query
                  description: Tag names. Repeat the parameter or send a comma-separated list.
                  schema:
                      type: array
                      items:
                          type: string
                  style: form
                  explode: true
                - name: tag_ids
                  in: query
                  description: Legacy tag IDs. Prefer `tags`.
                  schema:
                      type: array
                      items:
                          type: string
                  style: form
                  explode: true
                - name: segment_id
                  in: query
                  description: Limit results to subscribers in this segment.
                  schema:
                      type: string
                - name: created_at
                  in: query
                  style: deepObject
                  explode: true
                  description: Filter by creation time. Use `gt` and `lt`.
                  schema:
                      type: object
                      properties:
                          gt:
                              type: string
                          lt:
                              type: string
                - name: updated_at
                  in: query
                  style: deepObject
                  explode: true
                  description: Filter by last update. Use `gt` and `lt`.
                  schema:
                      type: object
                      properties:
                          gt:
                              type: string
                          lt:
                              type: string
                - name: last_event_at
                  in: query
                  style: deepObject
                  explode: true
                  description: Filter by last event time. Use `gt` and `lt`.
                  schema:
                      type: object
                      properties:
                          gt:
                              type: string
                          lt:
                              type: string
                - name: unsubscribed_at
                  in: query
                  style: deepObject
                  explode: true
                  description: Filter by unsubscribe time. Use `gt` and `lt`.
                  schema:
                      type: object
                      properties:
                          gt:
                              type: string
                          lt:
                              type: string
            responses:
                "200":
                    description: Search page.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/SearchResult"
                "422":
                    description: Site is not on Enterprise.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/fetch/subscribers:
        get:
            tags:
                - subscribers
            security:
                - BasicAuth: []
            summary: Find subscriber
            description: Returns one subscriber by `email` or `uuid`. Returns `{}` when no subscriber matches.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: email
                  in: query
                  description: Subscriber email address.
                  schema:
                      type: string
                - name: uuid
                  in: query
                  description: Subscriber UUID.
                  schema:
                      type: string
            responses:
                "200":
                    description: Subscriber, or an empty object when not found.
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - $ref: "#/components/schemas/Subscriber"
                                    - type: object
                                      additionalProperties: false
        post:
            tags:
                - subscribers
            summary: Create subscriber
            description: |
                Creates a subscriber from `subscriber.email`. Returns 201.

                This create can trigger automations. Use POST /api/v1/batch/subscribers for imports that must not start workflows.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            security:
                - BasicAuth: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - subscriber
                            properties:
                                subscriber:
                                    type: object
                                    required:
                                        - email
                                    properties:
                                        email:
                                            type: string
                                            example: "newuser@example.com"
            responses:
                "201":
                    description: Subscriber created.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Subscriber"
                "422":
                    description: "`subscriber.email` is missing."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/fetch/tags:
        get:
            tags:
                - tags
            security:
                - BasicAuth: []
            summary: List tags
            description: Returns tag definitions for the site.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            responses:
                "200":
                    description: Tag list.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/Tag"
        post:
            tags:
                - tags
            security:
                - BasicAuth: []
            summary: Create tag
            description: Creates a tag from `tag.name`.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - tag
                            properties:
                                tag:
                                    type: object
                                    required:
                                        - name
                                    properties:
                                        name:
                                            type: string
                                            example: "vip_customer"
            responses:
                "201":
                    description: Tag created.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: "#/components/schemas/Tag"
                "422":
                    description: "`tag.name` is missing."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
    /api/v1/fetch/tags/{id}:
        delete:
            tags:
                - tags
            security:
                - BasicAuth: []
            summary: Discard or restore tag
            description: Toggles discard on the tag named in `tag.name`. The path `id` is required by the URL and is not used for lookup.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: id
                  in: path
                  required: true
                  description: Tag id from GET /api/v1/fetch/tags.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - tag
                            properties:
                                tag:
                                    type: object
                                    required:
                                        - name
                                    properties:
                                        name:
                                            type: string
                                            description: Tag name to discard or restore.
            responses:
                "200":
                    description: Tag discarded or restored.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string

    /api/v1/fetch/commands:
        post:
            tags:
                - subscribers
            security:
                - BasicAuth: []
            summary: Queue subscriber commands
            description: |
                Queue up to 100 commands. Commands run in the background. The response is the number queued, not a subscriber object.

                Commands: `add_tag`, `add_tag_via_event`, `remove_tag`, `add_field`, `remove_field`, `subscribe`, `unsubscribe`, `change_email`.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - command
                            properties:
                                command:
                                    type: array
                                    maxItems: 100
                                    items:
                                        type: object
                                        required:
                                            - command
                                            - email
                                        properties:
                                            command:
                                                type: string
                                                enum:
                                                    - add_tag
                                                    - add_tag_via_event
                                                    - remove_tag
                                                    - add_field
                                                    - remove_field
                                                    - subscribe
                                                    - unsubscribe
                                                    - change_email
                                            email:
                                                type: string
                                            query:
                                                oneOf:
                                                    - type: string
                                                    - type: object
                                                description: Command value. A string for tags and email changes. An object with `key` and `value` for `add_field`.
                                    example:
                                        - command: add_tag
                                          email: "user@example.com"
                                          query: "new_customer"
                                        - command: add_field
                                          email: "user@example.com"
                                          query:
                                              key: "last_purchase_date"
                                              value: "2023-06-15"
                                        - command: change_email
                                          email: "oldmail@example.com"
                                          query: "newmail@example.com"
            responses:
                "200":
                    description: Commands queued.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    results:
                                        type: integer
                                        description: Number of commands queued.
                "422":
                    description: More than 100 commands.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/fetch/segments:
        get:
            tags:
                - segments
            security:
                - BasicAuth: []
            summary: List segments
            description: Returns kept segments for the site.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            responses:
                "200":
                    description: Segment list.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/Segment"
    /api/v1/fetch/segments/{id}:
        get:
            tags:
                - segments
            security:
                - BasicAuth: []
            summary: Get segment
            description: Returns one kept segment. Returns 404 when the segment is discarded or belongs to another site.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: id
                  in: path
                  required: true
                  description: Segment id.
                  schema:
                      type: string
            responses:
                "200":
                    description: Segment.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: "#/components/schemas/Segment"
                "404":
                    description: Segment not found.

    /api/v1/fetch/segments/{id}/match:
        post:
            tags:
                - segments
            security:
                - BasicAuth: []
            summary: Match segment
            description: Checks whether an email matches the segment. Limited to 120 requests per minute per segment.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: id
                  in: path
                  required: true
                  description: Segment id.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - email
                            properties:
                                email:
                                    type: string
            responses:
                "200":
                    description: Match result.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: object
                                        properties:
                                            segment_id:
                                                type: string
                                            email:
                                                type: string
                                            match:
                                                type: boolean
                "422":
                    description: Email is missing or invalid.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "429":
                    description: Too many match requests for this segment.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/fetch/sequences:
        get:
            tags:
                - sequences
            security:
                - BasicAuth: []
            summary: List sequences
            description: Returns kept sequences and their email templates.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            responses:
                "200":
                    description: Sequence list.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/Sequence"
    /api/v1/fetch/sequences/{id}/emails/templates:
        post:
            tags:
                - sequences
            security:
                - BasicAuth: []
            summary: Create sequence email
            description: Adds an email template to a sequence. `subject` and `html` are required.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: id
                  in: path
                  required: true
                  description: Sequence id from GET /api/v1/fetch/sequences.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - email_template
                            properties:
                                email_template:
                                    type: object
                                    required:
                                        - subject
                                        - html
                                    properties:
                                        subject:
                                            type: string
                                        html:
                                            type: string
                                        inbox_snippet:
                                            type: string
                                        delay_interval:
                                            type: string
                                            enum: ["minutes", "hours", "days", "months"]
                                            description: Send with `delay_interval_count`.
                                        delay_interval_count:
                                            type: integer
                                            minimum: 1
                                            maximum: 999
                                        editor_choice:
                                            type: string
                                            description: Defaults to `plain`.
                                        cc:
                                            type: string
                                        bcc:
                                            type: string
                                        to:
                                            type: string
            responses:
                "201":
                    description: Template created.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: "#/components/schemas/EmailTemplate"
                "404":
                    description: Sequence not found.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "422":
                    description: Missing subject or html, or invalid delay fields.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/fetch/workflows:
        get:
            tags:
                - workflows
            security:
                - BasicAuth: []
            summary: List workflows
            description: Returns workflows for the site. Read-only. `id` is the workflow prefix id.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            responses:
                "200":
                    description: Workflow list.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/Workflow"

    /api/v1/fetch/emails/templates/{id}:
        get:
            tags:
                - emails
            security:
                - BasicAuth: []
            summary: Get email template
            description: Returns one email template that belongs to the site.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: id
                  in: path
                  required: true
                  description: Template id.
                  schema:
                      type: string
            responses:
                "200":
                    description: Template.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: "#/components/schemas/EmailTemplate"
                "404":
                    description: Template not found.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
        patch:
            tags:
                - emails
            security:
                - BasicAuth: []
            summary: Update email template
            description: Updates subject, html, or editor type for one template.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: id
                  in: path
                  required: true
                  description: Template id.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - email_template
                            properties:
                                email_template:
                                    type: object
                                    properties:
                                        subject:
                                            type: string
                                        html:
                                            type: string
                                        type:
                                            type: string
                                            enum: ["plain", "raw"]
                                            description: "`plain` uses Bento CSS. `raw` uses your HTML. Omit to keep the current editor."
            responses:
                "200":
                    description: Template updated.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        $ref: "#/components/schemas/EmailTemplate"
                "404":
                    description: Template not found.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "422":
                    description: "`type` is not `plain` or `raw`."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/data_deletion_requests:
        post:
            tags:
                - subscribers
            security:
                - BasicAuth: []
            summary: Create data deletion request
            description: Queues anonymization for one visitor on the site.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - data_deletion_request
                            properties:
                                data_deletion_request:
                                    type: object
                                    required:
                                        - email
                                    properties:
                                        email:
                                            type: string
            responses:
                "202":
                    description: Anonymization queued.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    status:
                                        type: string
                                        enum: ["queued_for_anonymization"]
                "400":
                    description: Email is missing.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "404":
                    description: No visitor with that email.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                                        enum: ["visitor_not_found"]
                "429":
                    description: Too many deletion requests.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                                        enum: ["rate_limit_exceeded"]

    /api/v1/stats/site:
        get:
            tags:
                - stats
            security:
                - BasicAuth: []
            summary: Get site stats
            description: Returns user, subscriber, and unsubscriber counts for the site. Call from server-side code only.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            responses:
                "200":
                    description: Site counts.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    user_count:
                                        type: integer
                                    subscriber_count:
                                        type: integer
                                    unsubscriber_count:
                                        type: integer

    /api/v1/stats/segment:
        get:
            tags:
                - stats
            security:
                - BasicAuth: []
            summary: Get segment stats
            description: Returns user, subscriber, and unsubscriber counts for one segment. Call from server-side code only.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: segment_id
                  in: query
                  required: true
                  description: Segment id.
                  schema:
                      type: string
            responses:
                "200":
                    description: Segment counts. Zeros when the segment is missing.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    user_count:
                                        type: integer
                                    subscriber_count:
                                        type: integer
                                    unsubscriber_count:
                                        type: integer

    /api/v1/stats/report:
        get:
            tags:
                - stats
            security:
                - BasicAuth: []
            summary: Get report stats
            description: Returns data for one saved report. Call from server-side code only.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: report_id
                  in: query
                  required: true
                  description: Report id.
                  schema:
                      type: string
            responses:
                "200":
                    description: Report payload.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    data:
                                        type: object
                                        additionalProperties: true
                                        description: Report series and values.
                                    chart_style:
                                        type: string
                                    report_type:
                                        type: string
                                    report_name:
                                        type: string

    /api/v1/stats/ads:
        get:
            tags:
                - stats
            security:
                - BasicAuth: []
            summary: Get ads stats
            description: |
                Returns signup, customer, and revenue attribution by UTM or ad dimension.

                Money values are in cents. Call from server-side code only.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: dimension
                  in: query
                  description: "`source` (default), `campaign`, `medium`, `content`, or `ad`."
                  schema:
                      type: string
                      enum: ["source", "campaign", "medium", "content", "ad"]
                - name: value
                  in: query
                  description: Exact dimension value to filter to.
                  schema:
                      type: string
                - name: start_date
                  in: query
                  description: Window start. Natural language is accepted, such as `3 days ago`.
                  schema:
                      type: string
                - name: end_date
                  in: query
                  description: Window end. Defaults to now.
                  schema:
                      type: string
                - name: revenue_mode
                  in: query
                  description: "`all_revenue` (default), `first_revenue`, or `subscriptions`."
                  schema:
                      type: string
                      enum: ["all_revenue", "first_revenue", "subscriptions"]
            responses:
                "200":
                    description: Attribution totals and breakdown.
                    content:
                        application/json:
                            schema:
                                type: object
                                additionalProperties: true
                                properties:
                                    dimension:
                                        type: string
                                    totals:
                                        type: object
                                        additionalProperties: true
                                        properties:
                                            signups:
                                                type: integer
                                            customers:
                                                type: integer
                                            revenueCents:
                                                type: integer
                                                description: Revenue in cents.
                                    breakdown:
                                        type: array
                                        items:
                                            type: object
                                            additionalProperties: true
                                            properties:
                                                key:
                                                    type: string
                                                label:
                                                    type: string
                                                signups:
                                                    type: integer
                                                customers:
                                                    type: integer
                                                revenueCents:
                                                    type: integer
                                                    description: Revenue in cents.
                "400":
                    description: Invalid start_date or end_date.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/experimental/blacklist:
        get:
            tags:
                - experimental
            security:
                - BasicAuth: []
            summary: Search blacklists
            description: Checks a domain or IPv4 address against reputation blacklists. Send `domain` or `ip`. Does not require `site_uuid`.
            parameters:
                - name: domain
                  in: query
                  description: Domain to check, such as `example.com`. No protocol.
                  schema:
                      type: string
                - name: ip
                  in: query
                  description: IPv4 address to check.
                  schema:
                      type: string
            responses:
                "200":
                    description: Blacklist result.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    query:
                                        type: string
                                        description: Domain or IP that was checked.
                                    description:
                                        type: string
                                    results:
                                        type: object
                                        nullable: true
                                        additionalProperties: true
                                        description: Flags per reputation service, or null when checks pass.

    /api/v1/experimental/validation:
        post:
            tags:
                - experimental
            security:
                - BasicAuth: []
            summary: Validate email
            description: |
                Conservative signup check. Prefers `valid: true` when a lookup times out.

                Does not require `site_uuid`.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - email
                            properties:
                                email:
                                    type: string
                                name:
                                    type: string
                                ip:
                                    type: string
                                    description: Accepted for compatibility. Unused.
                                user_agent:
                                    type: string
                                    description: Accepted for compatibility. Unused.
            responses:
                "200":
                    description: Validation result.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    valid:
                                        type: boolean

    /api/v1/experimental/content_moderation:
        post:
            tags:
                - experimental
            security:
                - BasicAuth: []
            summary: Moderate content
            description: Checks a short text payload for links, injection, and similar risk. Does not require `site_uuid`.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - content
                            properties:
                                content:
                                    type: string
            responses:
                "200":
                    description: Moderation result.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    valid:
                                        type: boolean
                                    reasons:
                                        type: array
                                        items:
                                            type: string
                                    safe_original_content:
                                        type: string

    /api/v1/experimental/gender:
        post:
            tags:
                - experimental
            security:
                - BasicAuth: []
            summary: Guess gender
            description: Best-effort gender guess from a name. Works best with US first names. Does not require `site_uuid`.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - name
                            properties:
                                name:
                                    type: string
            responses:
                "200":
                    description: Guess result.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    gender:
                                        type: string
                                    confidence:
                                        type: number

    /api/v1/experimental/geolocation:
        get:
            tags:
                - experimental
            security:
                - BasicAuth: []
            summary: Geolocate IP
            description: |
                Legacy geolocation endpoint. GeoIP lookup is disabled. Always returns `{}`.

                `ip` is accepted for compatibility. Does not require `site_uuid`.
            parameters:
                - name: ip
                  in: query
                  description: IPv4 address. Accepted for compatibility. Ignored.
                  schema:
                      type: string
            responses:
                "200":
                    description: Empty object. Do not use this endpoint for location data.
                    content:
                        application/json:
                            schema:
                                type: object
                                additionalProperties: false

    /api/v1/experimental/jesses_ruleset:
        post:
            tags:
                - experimental
            security:
                - BasicAuth: []
            summary: Validate email with Jesse's ruleset
            description: Stricter signup review. Does not require `site_uuid`.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - email
                            properties:
                                email:
                                    type: string
                                block_free_providers:
                                    type: boolean
                                    description: Reject free email providers when true.
                                wiggleroom:
                                    type: boolean
                                    description: Relax some checks when true.
            responses:
                "200":
                    description: Ruleset result.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    valid:
                                        type: boolean
                                    reasons:
                                        type: array
                                        items:
                                            type: string

    /api/v1/delivery/report:
        get:
            tags:
                - delivery
            security:
                - BasicAuth: []
            summary: Delivery report
            description: |
                Delivery report for the site. Defaults to the last 24 hours.

                Requires Transactional Platform. Call from server-side code only.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: start_date
                  in: query
                  description: Window start. Alias `from`.
                  schema:
                      type: string
                      format: date-time
                - name: from
                  in: query
                  description: Alias for `start_date`.
                  schema:
                      type: string
                      format: date-time
                - name: end_date
                  in: query
                  description: Window end. Alias `to`.
                  schema:
                      type: string
                      format: date-time
                - name: to
                  in: query
                  description: Alias for `end_date`.
                  schema:
                      type: string
                      format: date-time
            responses:
                "200":
                    description: Report payload for the window.
                    content:
                        application/json:
                            schema:
                                type: object
                                additionalProperties: true
                                properties:
                                    data:
                                        type: object
                                    meta:
                                        type: object
                "400":
                    description: Invalid dates, or start after end.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "403":
                    description: Transactional Platform is required.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                                        example: "Transactional Platform is required."
                "503":
                    description: Delivery data is unavailable.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/delivery/events:
        get:
            tags:
                - delivery
            security:
                - BasicAuth: []
            summary: Recipient delivery events
            description: |
                Delivery events for one recipient. Defaults to the last 30 days.

                `limit` defaults to 100 and cannot exceed 100. Requires Transactional Platform. Call from server-side code only.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: email
                  in: query
                  required: true
                  description: Recipient email address.
                  schema:
                      type: string
                - name: start_date
                  in: query
                  description: Window start. Alias `from`.
                  schema:
                      type: string
                      format: date-time
                - name: from
                  in: query
                  description: Alias for `start_date`.
                  schema:
                      type: string
                      format: date-time
                - name: end_date
                  in: query
                  description: Window end. Alias `to`.
                  schema:
                      type: string
                      format: date-time
                - name: to
                  in: query
                  description: Alias for `end_date`.
                  schema:
                      type: string
                      format: date-time
                - name: limit
                  in: query
                  description: Number of events to return. Default 100. Maximum 100.
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
            responses:
                "200":
                    description: Events for the recipient.
                    content:
                        application/json:
                            schema:
                                type: object
                                additionalProperties: true
                                properties:
                                    events:
                                        type: array
                                        items:
                                            type: object
                                    meta:
                                        type: object
                "400":
                    description: Missing email, invalid date, invalid limit, or start after end.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                "403":
                    description: Transactional Platform is required.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    error:
                                        type: string
                                        example: "Transactional Platform is required."
                "503":
                    description: Delivery data is unavailable.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/chat/conversations:
        get:
            tags:
                - chat
            security:
                - BasicAuth: []
            summary: List conversations
            description: Returns conversations for the site. Conversation ids are the Chat display ids shown in conversation URLs.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: status
                  in: query
                  description: "`open`, `resolved`, `pending`, `snoozed`, or `all`."
                  schema:
                      type: string
                      enum: ["open", "resolved", "pending", "snoozed", "all"]
                - name: assignee_type
                  in: query
                  description: "`me`, `unassigned`, `assigned`, or `all`."
                  schema:
                      type: string
                      enum: ["me", "unassigned", "assigned", "all"]
                - name: inbox_id
                  in: query
                  description: Limit results to one inbox.
                  schema:
                      type: integer
                - name: q
                  in: query
                  description: Search text matched against conversation messages.
                  schema:
                      type: string
                - name: page
                  in: query
                  schema:
                      type: integer
            responses:
                "200":
                    description: Conversations and pagination.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    conversations:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/ChatConversation"
                                    meta:
                                        type: object
                                        properties:
                                            count:
                                                type: integer
                                            total_count:
                                                type: integer
                                            page:
                                                type: integer
                                            per_page:
                                                type: integer

    /api/v1/chat/conversations/by_email:
        get:
            tags:
                - chat
            security:
                - BasicAuth: []
            summary: List conversations by email
            description: Returns the contact and their conversations.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: contact_email
                  in: query
                  required: true
                  description: Contact email address.
                  schema:
                      type: string
            responses:
                "200":
                    description: Contact and conversations.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    contact:
                                        $ref: "#/components/schemas/ChatContact"
                                    conversations:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/ChatConversation"
                "400":
                    description: "`contact_email` is missing."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/chat/conversations/{id}:
        get:
            tags:
                - chat
            security:
                - BasicAuth: []
            summary: Get conversation
            description: Returns one conversation and its recent messages.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: id
                  in: path
                  required: true
                  description: Chat display id.
                  schema:
                      type: string
            responses:
                "200":
                    description: Conversation and messages.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ChatConversation"
                                    - type: object
                                      properties:
                                          messages:
                                              type: array
                                              items:
                                                  $ref: "#/components/schemas/ChatMessage"

    /api/v1/chat/inboxes:
        get:
            tags:
                - chat
            security:
                - BasicAuth: []
            summary: List inboxes
            description: Returns inboxes for the site. Use an inbox `id` when starting a conversation.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            responses:
                "200":
                    description: Inbox list.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                    inboxes:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/ChatInbox"

    /api/v1/chat/messages:
        post:
            tags:
                - chat
            security:
                - BasicAuth: []
            summary: Start a conversation
            description: Starts or continues a conversation for a contact email. Call GET /api/v1/chat/inboxes first to get an `inbox_id`.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - inbox_id
                                - contact_email
                                - message_content
                            properties:
                                inbox_id:
                                    oneOf:
                                        - type: integer
                                        - type: string
                                contact_email:
                                    type: string
                                message_content:
                                    type: string
                                contact_name:
                                    type: string
                                    description: Used when creating a new contact.
                                mail_subject:
                                    type: string
                                    description: Subject for email inbox conversations.
            responses:
                "200":
                    description: Message created.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ChatMessageResponse"
                "400":
                    description: Missing inbox_id, contact_email, or message_content.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/chat/conversations/{id}/messages:
        post:
            tags:
                - chat
            security:
                - BasicAuth: []
            summary: Send a reply
            description: Sends a public reply in an existing conversation.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: id
                  in: path
                  required: true
                  description: Chat display id.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - message_content
                            properties:
                                message_content:
                                    type: string
            responses:
                "200":
                    description: Reply created.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ChatMessageResponse"
                "400":
                    description: "`message_content` is missing."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/chat/conversations/{id}/notes:
        post:
            tags:
                - chat
            security:
                - BasicAuth: []
            summary: Create a private note
            description: Adds a private note. Notes stay in the thread and are not sent to the customer. `message.private` is always true.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: id
                  in: path
                  required: true
                  description: Chat display id.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - content
                            properties:
                                content:
                                    type: string
            responses:
                "200":
                    description: Note created.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ChatMessageResponse"
                "400":
                    description: "`content` is missing."
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /api/v1/chat/conversations/{id}/status:
        post:
            tags:
                - chat
            security:
                - BasicAuth: []
            summary: Update conversation status
            description: Sets conversation status to `open`, `resolved`, `pending`, or `snoozed`.
            parameters:
                - name: site_uuid
                  in: query
                  required: true
                  description: Site UUID.
                  schema:
                      type: string
                - name: id
                  in: path
                  required: true
                  description: Chat display id.
                  schema:
                      type: string
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - status
                            properties:
                                status:
                                    type: string
                                    enum: ["open", "resolved", "pending", "snoozed"]
            responses:
                "200":
                    description: Status updated.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                    conversation:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                            status:
                                                type: string
                "400":
                    description: Missing or invalid status.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

components:
    schemas:
        Error:
            type: object
            properties:
                error:
                    type: string
        Broadcast:
            type: object
            properties:
                id:
                    type: string
                type:
                    type: string
                attributes:
                    type: object
                    properties:
                        name:
                            type: string
                        share_url:
                            type: string
                        template:
                            type: object
                            description: Drafts return `template_id` only. Sent broadcasts include subject, to, html, and template_id.
                            properties:
                                template_id:
                                    type: integer
                                subject:
                                    type: string
                                to:
                                    type: string
                                html:
                                    type: string
                        created_at:
                            type: string
                            format: date-time
                        sent_final_batch_at:
                            type: string
                            format: date-time
[...]
